<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="client-info-dialog modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="data['type']=='add'">Добавить нового клиента</h5>
        <h5 class="modal-title" *ngIf="data['type']=='edit'">Редактирование клиента</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form (ngSubmit)="form.form.valid && onSubmit()" #form="ngForm" novalidate>
        <div class="modal-body container">
          <legend class="my-2 font-weight-bold">Персональная информация</legend>
          <hr class="mt-0">

          <div class="form-group d-flex justify-content-between">
            <input type="text" id="surname" name="surname" placeholder="Фамилия*" class="form-control client-info-input" [(ngModel)]="client['surname']" #surname="ngModel" [ngClass]="{'is-invalid': (form.submitted || surname.dirty) && surname.errors}" required>
            <input type="text" id="name" name="name" placeholder="Имя*" class="form-control client-info-input" [(ngModel)]="client['name']" #name="ngModel" [ngClass]="{'is-invalid': (form.submitted || name.dirty) && name.errors}" required>
          </div>

          <div class="form-group d-flex justify-content-between">
            <input type="text" id="patronymic" name="patronymic" placeholder="Отчество" class="form-control client-info-input" [(ngModel)]="client['patronymic']" #patronymic="ngModel" [ngClass]="{'is-invalid': (form.submitted || patronymic.dirty) && patronymic.errors}">
            <input type="text" id="birthDate" name="birthDate" placeholder="Дата рождения" onfocus="(this.type='date')" class="form-control client-info-input" [(ngModel)]="client['birthDate']" #birthDate="ngModel" [ngClass]="{'is-invalid': (form.submitted || birthDate.dirty) && birthDate.errors}" required>
          </div>

          <div class="form-group d-flex justify-content-between">
            <select id="gender" name="gender" class="form-control client-info-input" [(ngModel)]="client['gender']" #gender="ngModel" [ngClass]="{'is-invalid': (form.submitted || gender.dirty) && gender.errors}" required>
              <option value="" selected>Выберите пол...</option>
              <option value="female">Женский</option>
              <option value="male">Мужской</option>
            </select>

            <select id="character" name="character" class="form-control client-info-input" [(ngModel)]="client['character']" #character="ngModel" [ngClass]="{'is-invalid': (form.submitted || character.dirty) && character.errors}" required>
              <option value="" selected>Выберите характер...</option>

              <option value="c.id" *ngFor="let c of characters">{{c.value}}</option>
            </select>
          </div>


          <legend class="mt-3 mb-2 font-weight-bold">Адресная информация</legend>
          <hr class="mt-0">

          <label class="w-100 text-left mb-2">Адрес регистрации</label>
          <div class="form-group d-flex justify-content-between">
            <input type="text" id="streetRegistration" name="streetRegistration" placeholder="Улица*" class="form-control client-info-input" [(ngModel)]="client['streetRegistration']" #streetRegistration="ngModel" [ngClass]="{'is-invalid': (form.submitted || streetRegistration.dirty) && streetRegistration.errors}" required>
            <input type="text" id="houseRegistration" name="houseRegistration" placeholder="Дом*" class="form-control client-info-input" [(ngModel)]="client['houseRegistration']" #houseRegistration="ngModel" [ngClass]="{'is-invalid': (form.submitted || houseRegistration.dirty) && houseRegistration.errors}" required>
          </div>

          <div class="form-group d-flex justify-content-between">
            <input type="number" id="apartmentRegistration" name="apartmentRegistration" placeholder="Квартира*" class="form-control client-info-input" [(ngModel)]="client['apartmentRegistration']" #apartmentRegistration="ngModel" [ngClass]="{'is-invalid': (form.submitted || apartmentRegistration.dirty) && apartmentRegistration.errors}" required>
          </div>

          <label class="w-100 text-left mb-2">Адрес проживания (фактический)</label>
          <div class="form-group d-flex justify-content-between">
            <input type="text" id="streetResidence" name="streetResidence" placeholder="Улица" class="form-control client-info-input" [(ngModel)]="client['streetResidence']" #streetResidence="ngModel" [ngClass]="{'is-invalid': (form.submitted || streetResidence.dirty) && streetResidence.errors}">
            <input type="text" id="houseResidence" name="houseResidence" placeholder="Дом" class="form-control client-info-input" [(ngModel)]="client['houseResidence']" #houseResidence="ngModel" [ngClass]="{'is-invalid': (form.submitted || houseResidence.dirty) && houseResidence.errors}">
          </div>

          <div class="form-group d-flex justify-content-between">
            <input type="number" id="apartmentResidence" name="apartmentResidence" placeholder="Квартира" class="form-control client-info-input" [(ngModel)]="client['apartmentResidence']" #apartmentResidence="ngModel" [ngClass]="{'is-invalid': (form.submitted || apartmentResidence.dirty) && apartmentResidence.errors}">
          </div>


          <legend class="mt-3 mb-2 font-weight-bold">Контактные данные</legend>
          <hr class="mt-0">

          <div class="form-group d-flex justify-content-between">
            <input type="text" id="phoneHome" name="phoneHome" placeholder="Домашний номер" mask="0(000)-000-00-00" class="form-control client-info-input" [(ngModel)]="client['phoneHome']" #phoneHome="ngModel" [ngClass]="{'is-invalid': (form.submitted || phoneHome.dirty) && phoneHome.errors}" required>
            <input type="text" id="phoneWork" name="phoneWork" placeholder="Рабочий номер" mask="0(000)-000-00-00" class="form-control client-info-input" [(ngModel)]="client['phoneWork']" #phoneWork="ngModel" [ngClass]="{'is-invalid': (form.submitted || phoneWork.dirty) && phoneWork.errors}">
          </div>

          <div class="form-group d-flex justify-content-between">
            <input type="text" id="phoneExtra3" name="phoneExtra3" placeholder="Мобильный1" mask="0(000)-000-00-00" class="form-control client-info-input" [(ngModel)]="client['phoneExtra3']" #phoneExtra3="ngModel" [ngClass]="{'is-invalid': (form.submitted || phoneExtra3.dirty) && phoneExtra3.errors}">
            <input type="text" id="phoneExtra4" name="phoneExtra4" placeholder="Мобильный2" mask="0(000)-000-00-00" class="form-control client-info-input" [(ngModel)]="client['phoneExtra4']" #phoneExtra4="ngModel" [ngClass]="{'is-invalid': (form.submitted || phoneExtra4.dirty) && phoneExtra4.errors}">
          </div>

          <div class="form-group d-flex justify-content-between">
            <input type="text" id="phoneExtra5" name="phoneExtra5" placeholder="Мобильный3" mask="0(000)-000-00-00" class="form-control client-info-input" [(ngModel)]="client['phoneExtra5']" #phoneExtra5="ngModel" [ngClass]="{'is-invalid': (form.submitted || phoneExtra5.dirty) && phoneExtra5.errors}">
          </div>
        </div>

        <div class="modal-footer" *ngIf="data['type']=='add'">
          <button type="submit" class="btn btn-primary">Добавить</button>
        </div>

        <div class="modal-footer" *ngIf="data['type']=='edit'">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
          <button type="submit" class="btn btn-primary">Изменить</button>
        </div>
      </form>
    </div>
  </div>
</div>
