<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

</head>


<div class="row">
  <div class="input-field col s6">

    <input  type="text" class="validate"   [(ngModel)]="fieldEnterLogin" [ngModelOptions]="{standalone: true}" >
    <label class="active" >Hello</label>

    <div>{{httpService.token}}</div>

    
  </div>
  <div>
  <a class="waves-effect waves-light btn" (click)="enterButtonClicked()" >Click</a>
  </div>


</div>