<h2 mat-dialog-title>Редактирование</h2>
<mat-dialog-content class="mat-typography">

  <p>
    <mat-form-field>
      <mat-label>Фамилия</mat-label>
      <input matInput [(ngModel)]="clientToSave.surname">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Имя</mat-label>
      <input matInput [(ngModel)]="clientToSave.name">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Отчество</mat-label>
      <input matInput [(ngModel)]="clientToSave.patronymic">
    </mat-form-field>
  </p>

  <p *ngIf="clientDetailService.clientDetail.gender != null">Пол:


    <mat-form-field>
      <mat-select [(value)]="clientToSave.gender">
        <mat-option *ngFor="let r of clientDetailService.clientDetail.genders" value="{{r}}">
          {{r.genderTypeRuss}}
        </mat-option>
      </mat-select>
      <mat-label>{{clientDetailService.clientDetail.gender.genderTypeRuss}}</mat-label>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="example-full-width">
      <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Дата рождения"
             [(ngModel)]="clientToSave.birthDay">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </p>


  <p *ngIf="clientDetailService.clientDetail.character != null">Характер:
    <mat-form-field>
      <mat-select [(value)]="clientToSave.character">
        <!--required>-->
        <mat-option *ngFor="let r of clientDetailService.clientDetail.characters" value="{{r}}">
          {{r.characterTypeRuss}}
        </mat-option>
      </mat-select>
      <mat-label>{{clientDetailService.clientDetail.character.characterTypeRuss}}</mat-label>
    </mat-form-field>
  </p>


  <p *ngIf="clientToSave?.actualAddress">Адрес проживания<br>
    <mat-form-field appearance="legacy">
      <mat-label>Улица</mat-label>
      <input matInput [(ngModel)]="clientToSave.actualAddress.street">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Дом</mat-label>
      <input matInput [(ngModel)]="clientToSave.actualAddress.house">
    </mat-form-field>
    <br>
    <mat-form-field appearance="legacy">
      <mat-label>Квартира</mat-label>
      <input matInput [(ngModel)]="clientToSave.actualAddress.apartment">
    </mat-form-field>
  </p>

  <p *ngIf="clientToSave?.registrationAddress">Адрес регистрации<br>
    <mat-form-field appearance="legacy">
      <mat-label>Улица</mat-label>
      <input matInput [(ngModel)]="clientToSave.registrationAddress.street">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Дом</mat-label>
      <input matInput [(ngModel)]="clientToSave.registrationAddress.house">
    </mat-form-field>
    <br>
    <mat-form-field appearance="legacy">
      <mat-label>Квартира</mat-label>
      <input matInput [(ngModel)]="clientToSave.registrationAddress.apartment">
    </mat-form-field>
  </p>
  <p>Телефоны</p>
  <p *ngFor="let r of clientToSave.phones">
    <mat-form-field appearance="legacy">
      <mat-label>{{r.phoneTypeRuss}}</mat-label>
      <input matInput [(ngModel)]="r.number">
    </mat-form-field>
  </p>
  <br>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button  (click)="saveClient()" >Сохранить</button>
  <button mat-button mat-dialog-close >Выйти</button>
  <!--<button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>-->
</mat-dialog-actions>
