<p-button label="Добавить + " class="add-btn" (onClick)="add()"></p-button>
<p-table #dt [value]="clients" [columns]="cols" selectionMode="single" [paginator]="true" [rows]="10"
         [totalRecords]="totalRecords" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)" [loading]="loading">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of nameCols" [ngSwitch]="col.field" colspan="2">
        <input *ngSwitchCase="'lastName'" type="text" pInputText placeholder="Поиск по фамилии"
               (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" style="width:100%">

        <input *ngSwitchCase="'name'" type="text" pInputText placeholder="Поиск по имени"
               (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" style="width:100%">

        <input *ngSwitchCase="'fatherName'" type="text" pInputText placeholder="Поиск по отчеству"
               (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" style="width:100%">
      </th>
    </tr>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                    ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
      </th>
      <th>Действия</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr class="tRow" [class.selected]="rowData===selectedClient" (click)="onSelect(rowData)">
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
      <td>
        <p-button [disabled]="rowData!=selectedClient" class="edit-btn" (click)="edit(rowData.id)"
                  label="..."></p-button>
        <p-button [disabled]="rowData!=selectedClient" class="delete-btn" (click)="confirm(rowData.id)"
                  label="-"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-confirmDialog></p-confirmDialog>

<p-dialog [modal]="true" [(visible)]="display" [width]="1000" (onHide)="clientform.reset()" [minWidth]="1000"
          [minX]="100"
          [minY]="100" [contentStyle]="{'max-height':'600px'}">
  <p-header style="font-weight: bold;">
    {{header}}
  </p-header>

  <form *ngIf="clientDetail" [formGroup]="clientform" (ngSubmit)="onSubmit()">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Фамилия *:
        </div>
        <div class="ui-grid-col-6">
          <input type="text" pInputText [pKeyFilter]="symbols" placeholder="Введите фамилию" formControlName="lastName"
                 name="lastName" [(ngModel)]="clientDetail.lastName"/>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="Введите фамилию"
                     *ngIf="clientform.controls['lastName'].invalid&&clientform.controls['lastName'].touched"></p-message>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Имя *:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText type="text" [pKeyFilter]="symbols" placeholder="Введите имя" formControlName="name"
                 name="name"
                 [(ngModel)]="clientDetail.name"/>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="Введите имя"
                     *ngIf="clientform.controls['name'].invalid&&clientform.controls['name'].touched"></p-message>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Отчество:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText type="text" [pKeyFilter]="symbols" placeholder="Введите отчество"
                 formControlName="fatherName"
                 name="fatherName" [(ngModel)]="clientDetail.fatherName"/>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Пол *:
        </div>
        <div class="ui-grid-col-6">
          <p-radioButton type="radio" class="ui-g-12" name="gender" value="Мужской" label="Мужской"
                         formControlName="gender"
                         [(ngModel)]="clientDetail.gender"></p-radioButton>
          <p-radioButton type="radio" class="ui-g-12" name="gender" value="Женский" label="Женский"
                         formControlName="gender"
                         [(ngModel)]="clientDetail.gender"></p-radioButton>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="Выберите пол"
                     *ngIf="clientform.controls['gender'].invalid&&clientform.controls['gender'].touched"></p-message>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Дата рождения *:
        </div>
        <div class="ui-grid-col-6">
          <p-inputMask mask="99/99/9999" formControlName="bithDate" name="birthDate"
                       [(ngModel)]="clientDetail.birthDate"
                       placeholder="dd/mm/yyyy" slotChar="dd/mm/yyyy"></p-inputMask>
          <!-- <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030" formControlName="bithDate"
            name="birthDate" [(ngModel)]="clientDetail.birthDate"></p-calendar> -->
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="Введите дату рождения"
                     *ngIf="clientform.controls['bithDate'].invalid&&clientform.controls['bithDate'].touched"></p-message>
        </div>
      </div>


      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Характер *:
        </div>
        <div class="ui-grid-col-6">
          <p-dropdown [options]="characters" [(ngModel)]="clientDetail.character" name="character"
                      formControlName="character"
                      placeholder="Выберите характер"></p-dropdown>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="Выберите характер"
                     *ngIf="clientform.controls['character'].invalid&&clientform.controls['character'].touched"></p-message>
        </div>
      </div>


      <h4>Адрес проживания (фактический)</h4>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Улица:
        </div>
        <div class="ui-grid-col-6">
          <input type="text" pInputText [pKeyFilter]="symbols" placeholder="Введите улицу"
                 formControlName="factStreet"
                 name="factStreet" [(ngModel)]="clientDetail.factStreet"/>
        </div>
      </div>


      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Дом:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText type="text" pKeyFilter="int" placeholder="Введите номер дома" formControlName="factNo"
                 name="factNo" [(ngModel)]="clientDetail.factNo"/>
        </div>
      </div>


      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Квартира:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText type="text" pKeyFilter="int" placeholder="Введите номер квартиры"
                 formControlName="factFlat"
                 name="factFlat" [(ngModel)]="clientDetail.factFlat"/>
        </div>
      </div>

      <h4>Адрес регистрации *</h4>


      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Улица *:
        </div>
        <div class="ui-grid-col-6">
          <input type="text" pInputText [pKeyFilter]="symbols" placeholder="Введите улицу" formControlName="regStreet"
                 name="regStreet" [(ngModel)]="clientDetail.regStreet"/>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="Введите улицу"
                     *ngIf="clientform.controls['regStreet'].invalid&&clientform.controls['regStreet'].touched"></p-message>
        </div>
      </div>


      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Дом *:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText type="text" pKeyFilter="int" placeholder="Введите номер дома" formControlName="regNo"
                 name="regNo" [(ngModel)]="clientDetail.regNo"/>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="Введите номер дома"
                     *ngIf="clientform.controls['regNo'].invalid&&clientform.controls['regNo'].touched"></p-message>
        </div>
      </div>


      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Квартира *:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText type="text" pKeyFilter="int" placeholder="Введите номер квартиры"
                 formControlName="regFlat"
                 name="regFlat" [(ngModel)]="clientDetail.regFlat"/>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="Введите номер квартиры"
                     *ngIf="clientform.controls['regFlat'].invalid&&clientform.controls['regFlat'].touched"></p-message>
        </div>
      </div>

      <h4>Телефоны (один мобильный обязателен)</h4>


      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Домашний:
        </div>
        <div class="ui-grid-col-6">
          <p-inputMask mask="+7-(272)-999-99-99" placeholder="+7-(272)-xxx-xx-xx" formControlName="homePhoneNumber"
                       name="homePhoneNumber" [(ngModel)]="clientDetail.homePhoneNumber"></p-inputMask>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Рабочий:
        </div>
        <div class="ui-grid-col-6">
          <p-inputMask mask="+7-(272)-999-99-99" placeholder="+7-(272)-xxx-xx-xx" formControlName="workPhoneNumber"
                       name="workPhoneNumber" [(ngModel)]="clientDetail.workPhoneNumber"></p-inputMask>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Мобильный1 *:
        </div>
        <div class="ui-grid-col-6">
          <p-inputMask mask="+7-(799)-999-99-99" placeholder="+7-(7xx)-xxx-xx-xx" formControlName="mobileNumber1"
                       name="mobileNumber1" [(ngModel)]="clientDetail.mobileNumber1"></p-inputMask>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="Введите номер телефона"
                     *ngIf="clientform.controls['mobileNumber1'].invalid&&clientform.controls['mobileNumber1'].touched"></p-message>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Мобильный2:
        </div>
        <div class="ui-grid-col-6">
          <p-inputMask mask="+7-(799)-999-99-99" placeholder="+7-(7xx)-xxx-xx-xx" formControlName="mobileNumber2"
                       name="mobileNumber2" [(ngModel)]="clientDetail.mobileNumber2"></p-inputMask>
        </div>
      </div>


      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Мобильный3:
        </div>
        <div class="ui-grid-col-6">
          <p-inputMask mask="+7-(799)-999-99-99" placeholder="+7-(7xx)-xxx-xx-xx" formControlName="mobileNumber3"
                       name="mobileNumber3" [(ngModel)]="clientDetail.mobileNumber3"></p-inputMask>
        </div>
      </div>
    </div>

  </form>

  <p-footer>

    <div class="ui-grid-row">
      <div class="ui-grid-col-2"></div>
      <div class="ui-grid-col-6">
        <p-button type="submit" pTooltip="Заполните все поля отмеченные *"
                  [tooltipDisabled]="(clientform.valid&&!EDITEMODE)||(clientform.invalid&&EDITEMODE)"
                  label="Сохранить" [disabled]="!(clientform.valid&&clientform.dirty)" (onClick)="saveClient1()"
                  icon="pi pi-check"></p-button>
        <p-button label="Отмена" (onClick)="cancel()"></p-button>
      </div>
      <div class="ui-grid-col-4"></div>
    </div>

  </p-footer>
</p-dialog>
