<p-button label="Добавить + " class="add-btn" (onClick)="add()"></p-button>
<p-table [value]="clients" selectionMode="single">
  <ng-template pTemplate="header">
    <tr>
      <th>ФИО</th>
      <th>Характер</th>
      <th>Возраст</th>
      <th>Общий остаток счетов</th>
      <th>Максимальный остаток</th>
      <th>Минимальный остаток</th>
      <th>Действия</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-data>
    <tr class="tRow" [class.selected]="data===selectedClient" (click)="onSelect(data)">
      <td>{{data.lastName}} {{data.name}} {{data.fatherName}}</td>
      <td>{{data.character}}</td>
      <td>{{data.age}}</td>
      <td>{{data.totalBalance}}</td>
      <td>{{data.maxBalance}}</td>
      <td>{{data.minBalance}}</td>
      <td>
        <p-button [disabled]="data!=selectedClient" class="edit-btn" (click)="edit(data.id)" label="..."></p-button>
        <p-button [disabled]="data!=selectedClient" class="delete-btn" (click)="deleteClient(data.id)"
                  label="-"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>


<!--TEST-->
<div>
  <h2>Hello {{name}}</h2>
</div>
<form [formGroup]="radioTest">
  <input type="radio" name="gender" value='Male' formControlName="gender" [(ngModel)]='gender'>Male
  <input type="radio" name='gender' value='Female' formControlName="gender" [(ngModel)]='gender'>Female
  <button type="button" [disabled]="radioTest.controls['gender'].invalid">Gender Button</button>
</form>
<pre>{{radioTest.value | json}}</pre>
<pre>{{radioTest.valid}}</pre>
<pre>{{gender}}</pre>


<p-dialog [modal]="true" [(visible)]="display" [width]="800" [responsive]="true" (onHide)="closed()">
  <p-header style="font-weight: bold;">
    {{header}}
  </p-header>
  <form *ngIf="clientDetail" [formGroup]="userform">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Фамилия *:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText type="text" formControlName="lastname" name="lastName" [(ngModel)]="clientDetail.lastName"
                 (input)="valueChanged = true"/>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="Введите фамилию"
                     *ngIf="!userform.controls['lastname'].valid"></p-message>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Имя *:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText type="text" formControlName="name" name="name" [(ngModel)]="clientDetail.name"
                 (input)="valueChanged = true"/>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="Введите имя"
                     *ngIf="!userform.controls['name'].valid"></p-message>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Отчество:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText type="text" formControlName="fatherName" name="fatherName"
                 [(ngModel)]="clientDetail.fatherName" (input)="valueChanged = true"/>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Пол *:
        </div>
        <div class="ui-grid-col-6">
          <p-radioButton type="radio" class="ui-g-12" name="gender" value="Мужской" label="Мужской"
                         formControlName="gender"
                         [(ngModel)]="clientDetail.gender" (input)="valueChanged = true"></p-radioButton>
          <p-radioButton type="radio" class="ui-g-12" name="gender" value="Женский" label="Женский"
                         formControlName="gender"
                         [(ngModel)]="clientDetail.gender" (input)="valueChanged = true"></p-radioButton>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="Выберите пол"
                     *ngIf="!userform.controls['gender'].valid"></p-message>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Дата рождения *:
        </div>
        <div class="ui-grid-col-6">
          <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030" formControlName="bithDate"
                      name="birthDate" [(ngModel)]="clientDetail.birthDate" (input)="valueChanged = true"></p-calendar>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="Введите дату рождения"
                     *ngIf="!userform.controls['bithDate'].valid"></p-message>
        </div>
      </div>


      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Характер *:
        </div>
        <div class="ui-grid-col-6">
          <p-dropdown [options]="characters" [(ngModel)]="clientDetail.character" name="character"
                      (input)="valueChanged = true"
                      formControlName="character"
                      placeholder="Выберите характер"></p-dropdown>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="character is required"
                     *ngIf="!userform.controls['character'].valid"></p-message>
        </div>
      </div>


      <div>
        <h4>Адрес проживания (фактический)</h4>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Улица:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text" formControlName="factStreet" name="factStreet"
                   [(ngModel)]="clientDetail.factStreet" (input)="valueChanged = true"/>
          </div>
        </div>


        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Дом:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text" formControlName="factNo" name="factNo" [(ngModel)]="clientDetail.factNo"
                   (input)="valueChanged = true"/>
          </div>
        </div>


        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Квартира:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text" formControlName="factFlat" name="factFlat" [(ngModel)]="clientDetail.factFlat"
                   (input)="valueChanged = true"/>
          </div>
        </div>
      </div>

      <div>
        <h4>Адрес регистрации *</h4>


        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Улица *:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text" formControlName="regStreet" name="regStreet"
                   [(ngModel)]="clientDetail.regStreet" (input)="valueChanged = true"/>
          </div>
          <div class="ui-grid-col-4">
            <p-message severity="error" text="Введите улицу"
                       *ngIf="!userform.controls['regStreet'].valid"></p-message>
          </div>
        </div>


        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Дом *:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text" formControlName="regNo" name="regNo" [(ngModel)]="clientDetail.regNo"
                   (input)="valueChanged = true"/>
          </div>
          <div class="ui-grid-col-4">
            <p-message severity="error" text="Введите номер дома"
                       *ngIf="!userform.controls['regNo'].valid"></p-message>
          </div>
        </div>


        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Квартира *:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text" formControlName="regFlat" name="regFlat" [(ngModel)]="clientDetail.regFlat"
                   (input)="valueChanged = true"/>
          </div>
          <div class="ui-grid-col-4">
            <p-message severity="error" text="Введите номер квартиры"
                       *ngIf="!userform.controls['regFlat'].valid"></p-message>
          </div>
        </div>
      </div>

      <div>
        <h4>Телефоны (один мобильный обязателен)</h4>


        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Домашний:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text" formControlName="homePhoneNumber" name="homePhoneNumber"
                   [(ngModel)]="clientDetail.homePhoneNumber" (input)="valueChanged = true"/>
          </div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Рабочий:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text" formControlName="workPhoneNumber" name="workPhoneNumber"
                   [(ngModel)]="clientDetail.workPhoneNumber" (input)="valueChanged = true"/>
          </div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Мобильный1 *:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text" formControlName="mobileNumber1" name="mobileNumber1"
                   [(ngModel)]="clientDetail.mobileNumber1" (input)="valueChanged = true"/>
          </div>
          <div class="ui-grid-col-4">
            <p-message severity="error" text="Введите номер квартиры"
                       *ngIf="!userform.controls['mobileNumber1'].valid"></p-message>
          </div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Мобильный2:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text" formControlName="mobileNumber2" name="mobileNumber2"
                   [(ngModel)]="clientDetail.mobileNumber2" (input)="valueChanged = true"/>
          </div>
        </div>


        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Мобильный3:
          </div>
          <div class="ui-grid-col-6">
            <input pInputText type="text" formControlName="mobileNumber3" name="mobileNumber3"
                   [(ngModel)]="clientDetail.mobileNumber3" (input)="valueChanged = true"/>
          </div>
        </div>
      </div>
    </div>
  </form>

  <p-footer>

    <div class="ui-grid-row">
      <div class="ui-grid-col-2"></div>
      <div class="ui-grid-col-6">
        <p-button type="submit" label="Сохранить" [disabled]="!(userform.valid&&valueChanged)" (onClick)="saveClient1()"
                  icon="pi pi-check"></p-button>
        <p-button label="Отмена" (onClick)="cancel()"></p-button>
      </div>
      <div class="ui-grid-col-4"></div>
    </div>

  </p-footer>
</p-dialog>
