<div>
  <br>
  <button mat-icon-button (click)="openDialog(-1)">
    <mat-icon aria-label="Remove icon-button">add</mat-icon>
  </button>
  <br>
  <mat-form-field appearance="legacy">
    <mat-label>Имя</mat-label>
    <input matInput [(ngModel)]="clientFilter.name">
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Фамилия</mat-label>
    <input matInput [(ngModel)]="clientFilter.surname">
  </mat-form-field>
  <mat-form-field appearance="legacy">
    <mat-label>Отчество</mat-label>
    <input matInput [(ngModel)]="clientFilter.patronymic">
  </mat-form-field>
  <button mat-icon-button (click)="test(pageEvent)">
    <mat-icon aria-label="Remove icon-button">search</mat-icon>
  </button>
  <!--<table>-->
    <!--<thead>-->
    <!--<tr>-->
      <!--<th>ФИО</th>-->
      <!--<th>Характер</th>-->
      <!--<th>Возраст</th>-->
      <!--<th>Общий остаток счетов</th>-->
      <!--<th>Максимальный остаток</th>-->
      <!--<th>Минимальный остаток</th>-->
      <!--<th>Действия</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr *ngFor="let r of clientTableService.list">-->

      <!--<td>{{r.fio}}</td>-->
      <!--<td>{{r.character.typeRuss}}</td>-->
      <!--<td>{{r.age}}</td>-->
      <!--<td>{{r.totalBalance}}</td>-->
      <!--<td>{{r.maxBalance}}</td>-->
      <!--<td>{{r.minBalance}}</td>-->
      <!--<td>-->
        <!--<button mat-icon-button (click)="delete(r)">-->
          <!--<mat-icon aria-label="Remove icon-button">remove</mat-icon>-->
        <!--</button>-->

        <!--<button mat-icon-button (click)="openDialog(r.clientId)">-->
          <!--<mat-icon aria-label="Remove icon-button">...</mat-icon>-->
        <!--</button>-->

      <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->
  <!--<br>-->


  <!--&lt;!&ndash;&ndash;&gt;-->

  <!--&lt;!&ndash;&ndash;&gt;-->













  <!--<br><br>-->
  <!--<mat-form-field>-->
    <!--List length:-->
    <!--<input matInput [(ngModel)]="length">-->
  <!--</mat-form-field>-->
  <!--<mat-form-field>-->
    <!--Page size:-->
    <!--<input matInput [(ngModel)]="pageSize">-->
  <!--</mat-form-field>-->
  <!--<mat-form-field>-->
    <!--Page size options:-->
    <!--<input matInput-->
           <!--[ngModel]="pageSizeOptions"-->
           <!--(ngModelChange)="setPageSizeOptions($event)">-->
  <!--</mat-form-field>-->

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="clientTableService.list">
      <ng-container matColumnDef="fio">
        <th mat-header-cell *matHeaderCellDef> ФИО.</th>
        <td mat-cell *matCellDef="let element"> {{element.fio}}</td>
      </ng-container>
      <ng-container matColumnDef="character">
        <th mat-header-cell *matHeaderCellDef> Характер</th>
        <td mat-cell *matCellDef="let element"> {{element.character.typeRuss}}</td>
      </ng-container>
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Возраст</th>
        <td mat-cell *matCellDef="let element"> {{element.age}}</td>
      </ng-container>
      <ng-container matColumnDef="totalBalance">
        <th mat-header-cell *matHeaderCellDef> Общий остаток счетов</th>
        <td mat-cell *matCellDef="let element"> {{element.totalBalance}}</td>
      </ng-container>
      <ng-container matColumnDef="maxBalance">
        <th mat-header-cell *matHeaderCellDef> Максимальный остаток</th>
        <td mat-cell *matCellDef="let element"> {{element.maxBalance}}</td>
      </ng-container>
      <ng-container matColumnDef="minBalance">
        <th mat-header-cell *matHeaderCellDef> Минимальный остаток</th>
        <td mat-cell *matCellDef="let element"> {{element.minBalance}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Действия</th>
        <div *matCellDef="let element">
          <button mat-icon-button (click)="delete(element)">
            <mat-icon aria-label="Remove icon-button">remove</mat-icon>
          </button>
          <button mat-icon-button (click)="openDialog(element.clientId)">
            <mat-icon aria-label="Remove icon-button">...</mat-icon>
          </button>
        </div>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="test($event)">
    </mat-paginator>
    <!--<div *ngIf="pageEvent">-->
      <!--<h5>Page Change Event Properties</h5>-->
      <!--<div>List length: {{pageEvent.length}}</div>-->
      <!--<div>Page size: {{pageEvent.pageSize}}</div>-->
      <!--<div>Page index: {{pageEvent.pageIndex}}</div>-->
    <!--</div>-->
  </div>


  <!---->


  <!--<br><br>-->
  <!--<mat-form-field>-->
  <!--List length:-->
  <!--<input matInput [(ngModel)]="length">-->
  <!--</mat-form-field>-->

  <!--<mat-form-field>-->
  <!--Page size:-->
  <!--<input matInput [(ngModel)]="pageSize">-->
  <!--</mat-form-field>-->
  <!--<mat-form-field>-->
  <!--Page size options:-->
  <!--<input matInput-->
  <!--[ngModel]="pageSizeOptions"-->
  <!--(ngModelChange)="setPageSizeOptions($event)">-->
  <!--</mat-form-field>-->
  <!--<br>-->

  <!--<div class="mat-elevation-z8">-->
  <!--<table mat-table>-->

  <!--<tr mat-row *ngFor="let r of clientTableService.list">-->

  <!--<ng-container matColumnDef="fio">-->
  <!--<th mat-header-cell *matHeaderCellDef> ФИО.</th>-->
  <!--<td mat-cell *matCellDef="let element = r"> {{r.fio}}</td>-->
  <!--</ng-container>-->

  <!--<ng-container matColumnDef="character">-->
  <!--<th mat-header-cell *matHeaderCellDef> Характер</th>-->
  <!--<td mat-cell *matCellDef="let element = r"> {{r.character.typeRuss}}</td>-->
  <!--</ng-container>-->

  <!--<ng-container matColumnDef="age">-->
  <!--<th mat-header-cell *matHeaderCellDef> Возраст</th>-->
  <!--<td mat-cell *matCellDef="let element = r"> {{r.age}}</td>-->
  <!--</ng-container>-->

  <!--<ng-container matColumnDef="totalBalance">-->
  <!--<th mat-header-cell *matHeaderCellDef> Общий остаток счетов</th>-->
  <!--<td mat-cell *matCellDef="let element = r"> {{r.totalBalance}}</td>-->
  <!--</ng-container>-->

  <!--<ng-container matColumnDef="maxBalance">-->
  <!--<th mat-header-cell *matHeaderCellDef> Максимальный остаток</th>-->
  <!--<td mat-cell *matCellDef="let element = r"> {{r.maxBalance}}</td>-->
  <!--</ng-container>-->

  <!--<ng-container matColumnDef="minBalance">-->
  <!--<th mat-header-cell *matHeaderCellDef> Минимальный остаток</th>-->

  <!--</ng-container>-->

  <!--<ng-container matColumnDef="actions">-->
  <!--<th mat-header-cell *matHeaderCellDef> Действия</th>-->
  <!--<td mat-cell *matCellDef="let element = r"> {{r}}-->
  <!--<button mat-icon-button (click)="delete(r)">-->
  <!--<mat-icon aria-label="Remove icon-button">remove</mat-icon>-->
  <!--</button>-->
  <!--<button mat-icon-button (click)="openDialog(r.clientId)">-->
  <!--<mat-icon aria-label="Remove icon-button">...</mat-icon>-->
  <!--</button>-->
  <!--</td>-->
  <!--</ng-container>-->
  <!--</tr>-->
  <!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
  <!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
  <!--</table>-->

  <!--<mat-paginator [length]="length"-->
  <!--[pageSize]="pageSize"-->
  <!--[pageSizeOptions]="pageSizeOptions"-->
  <!--(page)="test($event)">-->
  <!--</mat-paginator>-->

  <!--<div *ngIf="pageEvent">-->
  <!--<h5>Page Change Event Properties</h5>-->
  <!--<div>List length: {{pageEvent.length}}</div>-->
  <!--<div>Page size: {{pageEvent.pageSize}}</div>-->
  <!--<div>Page index: {{pageEvent.pageIndex}}</div>-->
  <!--</div>-->
  <!--<div *ngIf="pageEvent">-->
  <!--<h5>Page Change Event Properties</h5>-->
  <!--<div>List length: {{pageEvent.length}}</div>-->
  <!--<div>Page size: {{pageEvent.pageSize}}</div>-->
  <!--<div>Page index: {{pageEvent.pageIndex}}</div>-->
  <!--</div>-->

  <!--</div>-->
  <!--<br>-->


</div>
