<div>
  <table>
    <thead>
    <tr>
      <th>ФИО</th>
      <th>Характер</th>
      <th>Возраст</th>
      <th>Общий остаток счетов</th>
      <th>Максимальный остаток</th>
      <th>Минимальный остаток</th>
      <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let r of clientTableService.list">
      <td>{{r.fio}}</td>
      <td>{{r.character}}</td>
      <td>{{r.age}}</td>
      <td>{{r.totalBalance}}</td>
      <td>{{r.maxBalance}}</td>
      <td>{{r.minBalance}}</td>
      <td>
        <button mat-icon-button (click)="openDialog()">
          <mat-icon aria-label="Remove icon-button">add</mat-icon>
        </button>
        <button mat-icon-button (click)="openDialog()">
          <mat-icon aria-label="Remove icon-button">remove</mat-icon>
        </button>
        <button mat-icon-button (click)="openDialog()">
          <mat-icon aria-label="Remove icon-button">...</mat-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
