<p-dialog header="Редактирование" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="512">
  <div class="ui-g ui-fluid" *ngIf="client != null">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="surname">Фамилия</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="surname" [(ngModel)]="client.surname" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="name">Имя</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="name" [(ngModel)]="client.name" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="patronomic">Отчество</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="patronomic" [(ngModel)]="client.patronomic" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="gender">Пол</label>
      </div>
      <div class="ui-g-8">
        <p-radioButton class="ui-md-1" id="gender" name="gender" label="МУЖ" value="MALE" [(ngModel)]="client.gender"></p-radioButton>

        <p-radioButton name="gender" label="ЖЕН" value="FEMALE"  [(ngModel)]="client.gender"></p-radioButton>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="birthDate">Дата рождения</label>
      </div>
      <div class="ui-g-8">
        <p-inputMask   id="birthDate"  [(ngModel)]="client.birthDate" mask="99.99.9999"></p-inputMask>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="charm">Характер</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown id = "charm" [options]="charmList" [(ngModel)]="client.charm" placeholder="Выберите характер" optionLabel="name" [showClear]="true"></p-dropdown>
        </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="addressF">Адрес проживания (фактический)</label>
      </div>
      <div class="ui-g-8">
        <input pInputText placeholder="Улица" id="addressF" [(ngModel)]="client.addressF.name"/>

        <input pInputText placeholder="Улица" id="streetF" [(ngModel)]="client.addressF.street"/>

        <input pInputText placeholder="Дом" id="houseNumF" [(ngModel)]="client.addressF.house"/>

        <input pInputText placeholder="Квартира" id="flatNumF" [(ngModel)]="client.addressF.flat"/>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="addressF">Адрес регистрации</label>
      </div>
      <div class="ui-g-8">
        <input pInputText placeholder="Улица" id="addressR" [(ngModel)]="client.addressF.name"/>

        <input pInputText placeholder="Улица" id="streetR" [(ngModel)]="client.addressF.street"/>

        <input pInputText placeholder="Дом" id="houseNumR" [(ngModel)]="client.addressF.house"/>

        <input pInputText placeholder="Квартира" id="flatNumR" [(ngModel)]="client.addressF.flat"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="addressF">Телефоны</label>
      </div>
      <div class="ui-g-8">
        <input pInputText placeholder="Домашний" id="homePhone" [(ngModel)]="client.phoneH.number"/>

        <input pInputText placeholder="Рабочий" id="workPhone" [(ngModel)]="client.phoneW.number"/>

        <input pInputText placeholder="Мобильный" id="mobilePhone" [(ngModel)]="client.phoneM.number"/>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-times" (click)="cancel()" label="Отменить"></button>
      <button type="button" pButton icon="pi pi-check" (click)="save()" label="Сохранить"></button>
    </div>
  </p-footer>
</p-dialog>
