<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">

  <p>
    <mat-form-field appearance="legacy">
      <mat-label>NAMS</mat-label>
      <input matInput placeholder="nAMS">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint> -->
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-select required>
        <mat-option value="option">Option</mat-option>
      </mat-select>
      <mat-label>По дефолту</mat-label>
    </mat-form-field>


  </p>


  {{clientDetailService.clientDetail.surname}}
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <!--<button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>-->
</mat-dialog-actions>
